name: SBOM

on:
  push:
    branches: [ main ]
  release:
    types: [published]
  workflow_dispatch:

permissions: read-all

jobs:
  sbom:
    name: Generate SBOM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: false

      - name: Create SBOM (CycloneDX)
        uses: anchore/sbom-action@62ad5284b8ced813296287a0b63906cb364b73ee # v0.22.0
        with:
          format: cyclonedx-json
          output-file: sbom.cdx.json

      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@6f51ac03b9356f520e9adb1b1b7802705f340c2b # v4.5.0
        with:
          name: sbom-cyclonedx
          path: sbom.cdx.json

      - name: Attach SBOM to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@c062e08bd532815e2082a85e87e3ef29c3e6d191 # v2.2.0
        with:
          files: sbom.cdx.json
