name: OpenSSF Scorecard

on:
  schedule:
    - cron: '0 0 * * 0' # weekly
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions: read-all

jobs:
  analysis:
    permissions:
      contents: read
      security-events: write
      id-token: write
    permissions:
      contents: read
      security-events: write
      id-token: write
    name: Scorecard analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Run OpenSSF Scorecard
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: results.sarif
          results_format: sarif
          publish_results: true

      - name: Upload SARIF to code scanning
        uses: github/codeql-action/upload-sarif@5fe9434cd24fe243e33e7f3305f8a5b519b70280
        with:
          sarif_file: results.sarif
